name: CI/CD - Docker + Kubernetes

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node-docker-k8s-demo:latest .

    - name: Push image to Docker Hub
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-docker-k8s-demo:latest

    - name: Set up kubectl using kubeconfig
      run: |
        echo ${{ secrets.KUBE_CONFIG_DATA }} | base64 -d > ~/.kube/config

    - name: Deploy to Kubernetes
      run: bash scripts/deploy.sh

